html{
    background-image: url('https://res.cloudinary.com/lisakvw/image/upload/v1608252657/shawn/classPic_bnzbqd.png');
    background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.wrapper{
  text-align: center;
  margin-top: 30vh;
  color: black;
  font-size: large;
  background-color: hsla(0, 100%, 90%, 0.4);
}

button{
padding: 20px;
font-size: large;
border: 2px solid black;
padding: 10px;
border-radius: 20px;
font-family: 'Questrial', sans-serif;
}

button:hover{
 cursor: pointer;
}