html{
    background-image: url('https://scontent-lga3-2.xx.fbcdn.net/v/t1.0-9/48390038_10156305827951656_3504527377474519040_o.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=d6cMt8M33xUAX9XxUYu&_nc_ht=scontent-lga3-2.xx&oh=7e2eb28ee9e3388357082cd569757de5&oe=5FEBF216');
     background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.wrapper{
  text-align: center;
  margin-top: 30vh;
  color: black;
  font-size: large;
  background-color: hsla(0, 100%, 90%, 0.4);
}

button{
padding: 20px;
font-size: large;
border: 2px solid black;
padding: 10px;
border-radius: 20px;
font-family: 'Questrial', sans-serif;
}

button:hover{
 cursor: pointer;
}